.item__container-stp {
  position: relative;
}
.item__container-stp:hover .item__image-container-stp {
  display: block;
}
.item__image-container-stp {
  display: none;
  position: absolute;
  top: -50px;
  right: 0;
  transform: translate(10%, 0%);
  z-index: 1;
}
.item__image-stp {
  height: 6rem;
}
.select-stp {
  user-select: none;
  outline: none;
  position: relative;
}
.select__label-stp {
  cursor: pointer;
}
.select__arrow-stp {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  transform: translateY(50%);
}
.select-stp.active .select__arrow-stp {
  transform: translateY(50%) rotate(180deg);
}
.select__option-stp {
  opacity: 0.6;
  transition: opacity 0.1s;
  will-change: opacity;
}
.select__option-stp:hover {
  opacity: 1;
}
.select__options-stp {
  display: none;
}
.select-stp.active .select__options-stp {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 4px 0;
}
.item__name-stp {
  text-overflow: ellipsis;
  overflow: hidden;
}
.item__price-stp {
  color: #2fff00;
}
.item-stp {
  transition: 0.3s filter;
}
.item-stp__item {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}
.item-stp:hover {
  filter: brightness(1.4);
}
/* Range Slider Styles */
::selection {
  color: #fff;
  background: #17a2b8;
}
.range-slider-stp {
  color: #fff;
}
.date-wrapper-stp {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 10px;
}
.date-wrapper-stp .separator-stp {
  text-align: center;
  margin-inline: 30px;
}
.progress-bar-stp {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.progress-bar-stp .progress-stp {
  height: 100%;
  left: 0%;
  right: 0%;
  position: absolute;
  border-radius: 5px;
  background: #17a2b8;
}
.range-inputs-stp {
  position: relative;
  margin-bottom: 10px;
}
.range-inputs-stp .range-input-stp {
  position: absolute;
  width: 100%;
  height: 4px;
  top: -6px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.range-input-stp::-webkit-slider-thumb {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
.range-input-stp::-moz-range-thumb {
  height: 18px;
  width: 18px;
  border: none;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
