.wrapper-stp {
  font-weight: bold;
  letter-spacing: 0.54px;
  color: #fff;
}
.item-price-stp {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
}
.item__container-stp {
  position: relative;
}
.item__container-stp:hover .item__image-container-stp {
  display: block;
}
.item__image-container-stp {
  display: none;
  position: absolute;
  top: -50px;
  right: 0;
  transform: translate(10%, 0%);
  z-index: 1;
}
.item__image-stp {
  height: 6rem;
}
.select-stp {
  user-select: none;
  outline: none;
  position: relative;
}
.select__label-stp {
  cursor: pointer;
}
.select__arrow-stp {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  transform: translateY(50%);
}
.select-stp.active .select__arrow-stp {
  transform: translateY(50%) rotate(180deg);
}
.select__option-stp {
  opacity: 0.6;
  transition: opacity 0.1s;
  will-change: opacity;
}
.select__option-stp:hover {
  opacity: 1;
}
.select__options-stp {
  display: none;
}
.select-stp.active .select__options-stp {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 4px 0;
  font-size: 14px;
  line-height: 14px;
}
.item__name-stp {
  text-overflow: ellipsis;
  overflow: hidden;
}
.item__price-stp {
  color: #2fff00;
}
.item-stp {
  transition: 0.3s filter;
}
.item-stp__item {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}
.item-stp:hover {
  filter: brightness(1.4);
}
.sales-stp {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.quantity-sales-heading-stp {
  font-size: 18px;
  line-height: 18px;
}
.quantity-sales-wrapper-stp {
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/* Range Slider Styles */
::selection {
  color: #fff;
  background: #17a2b8;
}
.range-slider-stp {
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 12px;
}
.date-wrapper-stp {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 10px;
}
.date-wrapper-stp .separator-stp {
  text-align: center;
  margin-inline: 30px;
}
.progress-bar-stp {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.progress-bar-stp .progress-stp {
  height: 100%;
  left: 0%;
  right: 0%;
  position: absolute;
  border-radius: 5px;
  background: #17a2b8;
}
.range-inputs-stp {
  position: relative;
  margin-bottom: 14px;
}
.range-inputs-stp .range-input-stp {
  position: absolute;
  width: 100%;
  height: 4px;
  top: -6px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.range-input-stp::-webkit-slider-thumb {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
.range-input-stp::-moz-range-thumb {
  height: 18px;
  width: 18px;
  border: none;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
.total-value-stp {
  color: #2fff00;
}
/* TABS */
.tabs-container {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 14px;
}
.tabs-heading {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 12px;
}
.tabs-stp {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 12px;
}
.tab-stp {
  --color: #0d8dc5;
  --hover: #10a1e2;
  background: none;
  border: 2px solid;
  line-height: 1;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  color: var(--color);
  transition: 0.25s;
}
.tab-stp:hover,
.tab-stp.active {
  border-color: var(--hover);
  color: #fff;
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
.prices-content-stp {
  display: none;
}
.prices-content-stp.active {
  display: flex;
  justify-content: space-between;
}
.price-content-stp {
  margin-bottom: 6px;
}
